.App {
  text-align: center;
}

/* header */

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

/* gallery */

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  height: 150px;
  background-color: #282c34;
  color: white;
  margin: 5%;
}